// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-baseline-refresh-black-18dp-name: 'sprite-baseline_refresh_black_18dp';
$sprite-baseline-refresh-black-18dp-x: 0px;
$sprite-baseline-refresh-black-18dp-y: 25px;
$sprite-baseline-refresh-black-18dp-offset-x: 0px;
$sprite-baseline-refresh-black-18dp-offset-y: -25px;
$sprite-baseline-refresh-black-18dp-width: 36px;
$sprite-baseline-refresh-black-18dp-height: 36px;
$sprite-baseline-refresh-black-18dp-total-width: 90px;
$sprite-baseline-refresh-black-18dp-total-height: 61px;
$sprite-baseline-refresh-black-18dp-image: './ui/common/img/sprite.png';
$sprite-baseline-refresh-black-18dp: (0px, 25px, 0px, -25px, 36px, 36px, 90px, 61px, './ui/common/img/sprite.png', 'sprite-baseline_refresh_black_18dp', );
$sprite-ic-notice-white-name: 'sprite-ic_notice_white';
$sprite-ic-notice-white-x: 46px;
$sprite-ic-notice-white-y: 25px;
$sprite-ic-notice-white-offset-x: -46px;
$sprite-ic-notice-white-offset-y: -25px;
$sprite-ic-notice-white-width: 16px;
$sprite-ic-notice-white-height: 16px;
$sprite-ic-notice-white-total-width: 90px;
$sprite-ic-notice-white-total-height: 61px;
$sprite-ic-notice-white-image: './ui/common/img/sprite.png';
$sprite-ic-notice-white: (46px, 25px, -46px, -25px, 16px, 16px, 90px, 61px, './ui/common/img/sprite.png', 'sprite-ic_notice_white', );
$sprite-ico-assets-tree-name: 'sprite-ico_assets_tree';
$sprite-ico-assets-tree-x: 0px;
$sprite-ico-assets-tree-y: 0px;
$sprite-ico-assets-tree-offset-x: 0px;
$sprite-ico-assets-tree-offset-y: 0px;
$sprite-ico-assets-tree-width: 90px;
$sprite-ico-assets-tree-height: 15px;
$sprite-ico-assets-tree-total-width: 90px;
$sprite-ico-assets-tree-total-height: 61px;
$sprite-ico-assets-tree-image: './ui/common/img/sprite.png';
$sprite-ico-assets-tree: (0px, 0px, 0px, 0px, 90px, 15px, 90px, 61px, './ui/common/img/sprite.png', 'sprite-ico_assets_tree', );
$spritesheet-width: 90px;
$spritesheet-height: 61px;
$spritesheet-image: './ui/common/img/sprite.png';
$spritesheet-sprites: ($sprite-baseline-refresh-black-18dp, $sprite-ic-notice-white, $sprite-ico-assets-tree, );
$spritesheet: (90px, 61px, './ui/common/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
